<!DOCTYPE html>
<html lang="en" ng-app = "myapp">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Library Application</title>
<link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>
<script type="text/javascript">
			function ck (){
                var httpobject = function(){
    				var xhr;
                    if (window.XMLHttpRequest) { // check for support
                    // if it's supported, use it because it's better
                        xhr = new XMLHttpRequest();
                    } else if (window.ActiveXObject) { // check for the IE 6 Ajax
                    // save it to the xhr variable
                        xhr = new ActiveXObject("Msxml2.XMLHTTP");
                    }
                    // spit out the correct one so we can use it
                    return xhr;
                }

                var ajaxCall = function(dataURL,cb) {
                    var request = httpobject()
                    request.onreadystatechange = function(){
                        if(request.readystate === 4 && request.status === 200){
                            var error = JSON.parse(request.responseText);
                            if(error){
                                cb(error);
                            }
                        }
                    }

                    request.open("GET",dataURL, true);
                    request.send(null);
                };

                window.onload = checkError

                function checkError (){
                    ajaxCall('/api/user/:thebook',function(error){
                        var target = document.getElementById('borrowed');
                        target.innerHTML += '<span>' + error + '</span>';
                    });
                }
		    }
			
</script>

</head>

<body>
    <div id="wrapper" class = "container-fluid">
            <header class="container">
            	<div class="row">
            		<div class="col-sm-6 col-md-6 col-lg-6 logo">
            			<a href="/">Go<span>Library</span></a>
            		</div>
            		<div class="col-sm-6 col-md-6 col-lg-6">
            			<p class="admin pull-right">
            				<a href ="/signout" style="color:#fff!important;display: block;padding: 15px 10px; margin-top: 30px;
                             font-size: 18px;background-color: inherit;width: 100px">Sign out</a>
            			</p>
            			
            		</div>
            	</div>
            </header>
            <section class="container-fluid" style="background-color: #eee">
            	<div class="main">
                                                  
                    <table>
                        <thead>
                            <tr>
                                <th style="width: 4%">S/N</th>
                                <th style="width: 20%">TITLE</th>                                
                                <th style="width: 12%">CATEGORY</th>
                                <th style="width: 5%">QUANTITY</th>
                                <th style="width: 10%">STATUS</th>
                                <th style="width: 8%">BOOK ID</th>
                                <th style="width: 10%">COLLECTOR'S NAME</th>
                                <th style="width: 10%">COLLECTOR'S PHONE</th>
                                <th style="width: 10%">DATE / TIME</th>
                                <th style="width: 10%">DELAY(#)</th>
                            </tr>
                        </thead>
                        <% for(var i = 0; i < books.length; i++) { %>
                        <tbody>
                            <tr>
                                <td style="width: 4%"><%= i + 1 %></td>
                                <td style="width: 20% color: blue"><a href="/api/user/<%= books[i].book_id %>" id="book" onClick = ck()><span style="color: rgba(0,0,255,0.7)"><%= books[i].book_title%></span></a></td>                                
                                <td style="width: 12%"><%= books[i].category %></td>
                                <td style="width: 8%"><%= books[i].quantity %></td>
                                <td style="width: 10%"><%= books[i].status %></td>
                                <td style="width: 8%"><%= books[i].book_id %></td>
                                <td style="width: 15%"><%=books[i].collector_firstname + " " + books[i].collector_lastname%></td>
                                <td style="width: 15%"><%=books[i].collector_phone%></td>
                                <td style="width: 10%"><%= books[i].date_of_collection %></td>
                                <td style="width: 10%; color : red"><%= books[i].surcharge %></td>
                                <% if(books[i].multiple.check) { %>
                                <tbody>
                                <td style="width: 4%"><%= %></td>
                                <td style="width: 20% color: blue"><a href="/api/user/<%= books[i].book_id %>" id="book"><span style="color: rgba(0,0,255,0.7)"><%= "---" %></span></a></td>                                
                                <td style="width: 12%"><%= "---" %></td>
                                <td style="width: 8%"><%= books[i].multiple.quantity%></td>
                                <td style="width: 10%"><%= books[i].multiple.status %></td>
                                <td style="width: 8%"><%= books[i].book_id %> + "/" + "copy" %></td>
                                <td style="width: 15%"><%=books[i].multiple.collector_firstname + " " + books[i].multiple.collector_lastname%></td>
                                <td style="width: 15%"><%=books[i].multiple.collector_phone%></td>
                                <td style="width: 10%"><%= books[i].multiple.date_of_collection %></td>
                                <td style="width: 10%; color : red"><%= books[i].multiple.surcharge %></td>
                                </tbody>
                                <% } %>
                            </tr>
                        </tbody>
                        <% } %>
                    </table>
                </div>
                
            </section>            
            <footer class="container-fluid">
            	<div class="row innerfoot">
                	<div class="col-sm-8 col-md-8 col-lg-8">
                    <ul>
                    	<li class="hd">Test & Resources</li>
                        <li><a href="#">JAMB PAST QUESTIONS </a></li>
                        <li><a href="#">WAEC WAECM PAST QUESTIONS</a></li>
                        <li><a href="#">POST UME PASS QUESTIONS</a></li>
                        <li><a href="#">NECO PAST QUESTIONS</a></li>
                        <li><a href="#">MOCK TESTBOOK</a></li>
                        <li><a href="#">EXAM GUIDE HANDOUT</a></li>
                	</ul>
                    <ul>
                    	<li class="hd">Menu</li>
                    	<li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Feedback</a></li>
                        <li><a href="#">Class</a></li>
                        <li><a href="#">Library</a></li>
                    </ul>
                    <ul>
                    	<li class="hd">Socials</li>
                    	<li><a href="#">Google+</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                    </ul>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="sign">
                    	<a href="#">info@ANDELA.com</a>
                    	<p>Sign up for our newsletter and we'll inform you of <br/>
                        updates, offers and more...</p>
                        <form>
                        	<input type="email" placeholder="Your Email Address" />
                            <a href="#"><span>Sign up</span></a>
                        </form>
                    </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                   	 	<p class="copyright">Copyright @ 2016, ANDELA Bootcamp</p>
                    </div>
                </div>

            </footer>
        </div>
    </div><!-- end of wrapper div -->
    	<!--<script type="text/javascript" src= "/assets/js/source.js"></script>
		<script type="text/javascript" src= "/assets/js/client.js"></script>
        <script type="text/javascript" src="/assets/js/ngroute.js"></script>-->
</body>
</html>

